In [1]:
#importing libraries

import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
import math
from sklearn import preprocessing
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
# Pipeline
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
# Cost Functions
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

# Preprocessing
from sklearn.impute import SimpleImputer

# Scalers
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MinMaxScaler

# Feature Engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
#read the dataset 
stc = pd.read_csv("C:/Users/DELL/OneDrive/Desktop/Lina/Big data & AI bootcamp/HandestsSTC.csv")

In [4]:
stc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   CAL_DT            1048575 non-null  object
 1   MODEL_NAME        1048575 non-null  object
 2   BRAND_FULL_NAME   1048575 non-null  object
 3   BRAND_NAME        1048575 non-null  object
 4   VENDOR_NAME       1048575 non-null  object
 5   OS_NAME           1048575 non-null  object
 6   DEVICE_TYPE       1048575 non-null  object
 7   _2G_FLG           1048575 non-null  object
 8   _3G_FLG           1048575 non-null  object
 9   _4G_FLG           1048575 non-null  object
 10  WIFI_FLG          1048575 non-null  object
 11  BLUETOOTH_FLG     1048575 non-null  object
 12  TOUCH_SCREEN_FLG  1048575 non-null  object
 13  DUAL_SIM_FLG      1048575 non-null  object
 14  GENDER_TYPE_CD    939245 non-null   object
 15  AGE_B             1048575 non-null  object
 16  NATIONALITY_CD    925709 non-null   object
 17  NATIONALITY_NAME  925933 non-null   object
 18  SAUDI_NON_SAUDI   1048082 non-null  object
 19  DEVICE_COUNT      1048086 non-null  object
dtypes: object(20)
memory usage: 160.0+ MB

In [5]:
# check the null values for each column
stc.isna().sum()

CAL_DT                   0
MODEL_NAME               0
BRAND_FULL_NAME          0
BRAND_NAME               0
VENDOR_NAME              0
OS_NAME                  0
DEVICE_TYPE              0
_2G_FLG                  0
_3G_FLG                  0
_4G_FLG                  0
WIFI_FLG                 0
BLUETOOTH_FLG            0
TOUCH_SCREEN_FLG         0
DUAL_SIM_FLG             0
GENDER_TYPE_CD      109330
AGE_B                    0
NATIONALITY_CD      122866
NATIONALITY_NAME    122642
SAUDI_NON_SAUDI        493
DEVICE_COUNT           489
dtype: int64

In [6]:
stc.describe()

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
count,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,939245,1048575,925709,925933,1048082,1048086
unique,24,825,1061,205,114,15,6,6,6,5,6,4,4,3,4,8,206,210,43,2078
top,6/30/2019,One x9,Pro Edition,Nokia,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,IND,India,Non-Saudi,1
freq,50969,1712,2337,249867,619471,619471,707772,1042229,721128,572605,731780,966535,700537,744691,653638,306523,77367,77367,908116,473326

In [7]:
stc.describe(exclude='number')

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
count,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,1048575,939245,1048575,925709,925933,1048082,1048086
unique,24,825,1061,205,114,15,6,6,6,5,6,4,4,3,4,8,206,210,43,2078
top,6/30/2019,One x9,Pro Edition,Nokia,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,IND,India,Non-Saudi,1
freq,50969,1712,2337,249867,619471,619471,707772,1042229,721128,572605,731780,966535,700537,744691,653638,306523,77367,77367,908116,473326

In [8]:
#make copy of the data
stc_d=stc.copy()

In [9]:
#sum of the uplicated values for the whole dataset
stc_d.duplicated().sum()

2293

In [10]:
#drop the duplicated data
stc_d.drop_duplicates(inplace=True)

In [11]:
stc_d.duplicated().sum()

0

In [12]:
#drop null values
stc_d.dropna(axis=0,inplace=True)

In [13]:
# no null values
stc_d.isna().sum()

CAL_DT              0
MODEL_NAME          0
BRAND_FULL_NAME     0
BRAND_NAME          0
VENDOR_NAME         0
OS_NAME             0
DEVICE_TYPE         0
_2G_FLG             0
_3G_FLG             0
_4G_FLG             0
WIFI_FLG            0
BLUETOOTH_FLG       0
TOUCH_SCREEN_FLG    0
DUAL_SIM_FLG        0
GENDER_TYPE_CD      0
AGE_B               0
NATIONALITY_CD      0
NATIONALITY_NAME    0
SAUDI_NON_SAUDI     0
DEVICE_COUNT        0
dtype: int64

In [14]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836526 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            836526 non-null  object
 1   MODEL_NAME        836526 non-null  object
 2   BRAND_FULL_NAME   836526 non-null  object
 3   BRAND_NAME        836526 non-null  object
 4   VENDOR_NAME       836526 non-null  object
 5   OS_NAME           836526 non-null  object
 6   DEVICE_TYPE       836526 non-null  object
 7   _2G_FLG           836526 non-null  object
 8   _3G_FLG           836526 non-null  object
 9   _4G_FLG           836526 non-null  object
 10  WIFI_FLG          836526 non-null  object
 11  BLUETOOTH_FLG     836526 non-null  object
 12  TOUCH_SCREEN_FLG  836526 non-null  object
 13  DUAL_SIM_FLG      836526 non-null  object
 14  GENDER_TYPE_CD    836526 non-null  object
 15  AGE_B             836526 non-null  object
 16  NATIONALITY_CD    836526 non-null  object
 17  NATIONALITY_NAME  836526 non-null  object
 18  SAUDI_NON_SAUDI   836526 non-null  object
 19  DEVICE_COUNT      836526 non-null  object
dtypes: object(20)
memory usage: 134.0+ MB

In [15]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836526 entries, 0 to 1048574
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            836526 non-null  object
 1   MODEL_NAME        836526 non-null  object
 2   BRAND_FULL_NAME   836526 non-null  object
 3   BRAND_NAME        836526 non-null  object
 4   VENDOR_NAME       836526 non-null  object
 5   OS_NAME           836526 non-null  object
 6   DEVICE_TYPE       836526 non-null  object
 7   _2G_FLG           836526 non-null  object
 8   _3G_FLG           836526 non-null  object
 9   _4G_FLG           836526 non-null  object
 10  WIFI_FLG          836526 non-null  object
 11  BLUETOOTH_FLG     836526 non-null  object
 12  TOUCH_SCREEN_FLG  836526 non-null  object
 13  DUAL_SIM_FLG      836526 non-null  object
 14  GENDER_TYPE_CD    836526 non-null  object
 15  AGE_B             836526 non-null  object
 16  NATIONALITY_CD    836526 non-null  object
 17  NATIONALITY_NAME  836526 non-null  object
 18  SAUDI_NON_SAUDI   836526 non-null  object
 19  DEVICE_COUNT      836526 non-null  object
dtypes: object(20)
memory usage: 134.0+ MB

In [16]:
#Unique values with its counts for each column 
for elem in stc_d.columns[1:]:
    print(stc_d[elem].value_counts())
    print("\n")

K7 SPARK        1528
6700 Classic    1523
X2-00           1493
1110            1491
C7-00           1484
                ...
Droid Ultra       19
Mi A2 Lite        15
5217              11
x1                10
P8                 7
Name: MODEL_NAME, Length: 825, dtype: int64


Pro Edition           1940
Tecno K7 SPARK        1528
Nokia 6700 Classic    1523
Nokia X2-00           1493
Nokia 1110            1491
                      ...
Rocktel W4               1
AVVIO L800               1
Vell-Com M2              1
AGM M2                   1
Positivo P70             1
Name: BRAND_FULL_NAME, Length: 1058, dtype: int64


Nokia       203251
Lenovo       48873
Sony         45870
LG           43986
HTC          42968
             ...
Anoking          1
AGM              1
Siemens          1
Positivo         1
AVVIO            1
Name: BRAND_NAME, Length: 203, dtype: int64


Google         493199
Nokia          149981
Symbian LTD     29922
Alcatel         12612
RIM             12275
                ...
Positivo            1
Anoking             1
AGM                 1
Siemens             1
GEEPEE              1
Name: VENDOR_NAME, Length: 113, dtype: int64


Android           493199
Proprietary       254121
Symbian            35541
Other              14855
RIM OS             12275
Windows Phone       9773
unknown             6850
BlackBerry OS       6422
Innjoo              1311
ZTE                 1184
Xiaomi               629
Windows Mobile       312
CORN MiniX2-02        24
Droid Maxx            19
iNOVA 5217            11
Name: OS_NAME, dtype: int64


Smartphone      564689
Mobile Phone    268659
Google            3124
 F1                 24
Droid Mini          19
6700                11
Name: DEVICE_TYPE, dtype: int64


Y           833051
Android       3124
N              297
 C112           24
Motorola        19
 C12            11
Name: _2G_FLG, dtype: int64


Y             576078
N             257270
Smartphone      3124
 C6500            24
Google            19
 C3000            11
Name: _3G_FLG, dtype: int64


N          459707
Y          376765
CORN           24
Android        19
iNOVA          11
Name: _4G_FLG, dtype: int64


Y              584555
N              235341
Z               16576
CXTEL              24
Smartphone         19
Ema Telecom        11
Name: WIFI_FLG, dtype: int64


Y              771931
N               60912
Z                3648
Proprietary        35
Name: BLUETOOTH_FLG, dtype: int64


Y               559259
N               271933
Z                 5299
Mobile Phone        35
Name: TOUCH_SCREEN_FLG, dtype: int64


Y    589821
N    243527
Z      3178
Name: DUAL_SIM_FLG, dtype: int64


Male      586394
Female    246954
Y           3143
N             35
Name: GENDER_TYPE_CD, dtype: int64


36-55    254573
26-35    191373
>55      160451
NA       119325
18-25     85954
<18       21672
Y          3143
N            35
Name: AGE_B, dtype: int64


IND    65184
SAU    62330
PHL    54819
BGD    54023
YEM    53521
       ...
TMP        2
KNA        2
SHN        2
TAH        1
MDV        1
Name: NATIONALITY_CD, Length: 205, dtype: int64


India                    65184
Saudi Arabia             62330
Philippines              54819
Bangladesh               54023
Yemen                    53521
                         ...
Saint Kitts and Nevis        2
Saint Helena                 2
East Timor                   2
Maldives                     1
Tahiti                       1
Name: NATIONALITY_NAME, Length: 209, dtype: int64


Non-Saudi    771018
Saudi         62330
IND             326
SAU             296
PHL             288
EGY             278
PAK             253
YEM             248
BGD             221
SDN             187
SYR             167
IDN             145
JOR              81
LKA              73
ETH              54
LBN              52
MAR              50
AFG              50
SOM              45
CHN              40
N                35
GBR              32
KEN              30
PSE              25
THA              21
NER              18
TUN              17
TCD              16
LBY              14
ESP              13
KGZ              13
NGA              12
NPL              12
Male             11
DZA              10
BHR              10
UGA              10
Female            8
ERI               7
MYS               6
DJI               3
BDI               1
Name: SAUDI_NON_SAUDI, dtype: int64


1       378836
2       125435
3        66308
4        42033
5        29150
         ...
2813         1
2742         1
2806         1
2641         1
5070         1
Name: DEVICE_COUNT, Length: 1804, dtype: int64

In [17]:
# drop irrelevant data in GENDER_TYPE_CD column 
stc_d.drop(stc_d[(stc_d['GENDER_TYPE_CD']=='Y') |(stc_d['GENDER_TYPE_CD']== 'N')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [18]:
# drop irrelevant data in NATIONALITY_CD and AGE_B columns 
stc_d.drop(stc_d[(stc_d['AGE_B']=='Y') | (stc_d['AGE_B']== 'N') | (stc_d['AGE_B']== 'NA   ')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [19]:
# drop irrelevant data in NATIONALITY_NAME column 
stc_d.drop(stc_d[(stc_d['NATIONALITY_CD']=='Female') | (stc_d['AGE_B']== 'N') | (stc_d['NATIONALITY_CD']== 'Male')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [20]:
stc_d['NATIONALITY_CD'].unique()

array(['LKA', 'BGD', 'IDN', 'EGY', 'SYR', 'SAU', 'MRT', 'SDN', 'PAK',
       'UGA', 'YEM', 'MDG', 'IND', 'AFG', 'GBR', 'GHA', 'CYM', 'CMR',
       'ITA', 'SOM', 'NER', 'MAR', 'LBN', 'TUR', 'BHR', 'NPL', 'PHL',
       'LBY', 'BEL', 'ETH', 'UKR', 'OMN', 'NGA', 'TCD', 'NAM', 'JOR',
       'KGZ', 'BFA', 'TUN', 'PSE', 'IRN', 'IRQ', 'UZB', 'MYS', 'CHN',
       'DZA', 'KEN', 'ERI', 'MLI', 'IRL', 'CAN', 'ZAF', 'HND', 'MLT',
       'ALB', 'ARE', 'ROM', 'FRA', 'KWT', 'MOZ', 'THA', 'ESP', 'DEU',
       'CIV', 'BRN', 'SGP', 'TJK', 'LAO', 'AIA', 'DNK', 'BIH', 'BDI',
       'MWI', 'ATG', 'AUS', 'GIN', 'VNM', 'SLE', 'QAT', 'ARM', 'AND',
       'TGO', 'CUB', 'SRB', 'BTN', 'TZA', 'SEN', 'GRC', 'SVK', 'ANT',
       'POL', 'KOR', 'CAF', 'AZE', 'SWE', 'MUS', 'GMB', 'DJI', 'JPN',
       'MAD IS', 'ABW', 'BRB', 'KAZ', 'HRV', 'AUT', 'FIN', 'GUF', 'FRO',
       'BMU', 'LBR', 'VEN', 'NZL', 'COL', 'KHM', 'PRT', 'TWN', 'BEN',
       'BLR', 'NCL', 'TKM', 'COM', 'BRA', 'COK', 'CZE', 'NOR', 'CHL',
       'BGR', 'MKD', 'AGO', 'MEX', 'PAN', 'CYP', 'NIC', 'ZMB', 'BAL IS',
       'EST', 'PNG', 'JAM', 'CRI', 'LIE', 'SUR', 'MHL', 'UN', 'RWA',
       'CHE', 'MMR', 'ZWE', 'TTO', 'HKG', 'MCO', 'PER', 'BHS', 'HUN',
       'FJI', 'RUS', 'WLF', 'GEO', 'BWA', 'PLW', 'GAB', 'GUM', 'BLZ',
       'VGB', 'ARG', 'SVN', 'NLD', 'GRD', 'MAC', 'ISL', 'BOL', 'TMP',
       'MDA', 'LTU', 'PRK', 'DMA', 'NRU', 'LSO', 'ECU', 'GIB', 'USA',
       'URY', 'MNE', 'MDV', 'DGA', 'GUY', 'CPV', 'LUX', 'GNQ', 'CAN IS',
       'HTI', 'PRI', 'DOM', 'WSM', 'SHN', 'TAH', 'MNG', 'NIU', 'KNA'],
      dtype=object)

In [21]:
stc_d['NATIONALITY_NAME'].unique()

array(['Sri Lanka', 'Bangladesh', 'Indonesia', 'Egypt', 'Syria',
       'Saudi Arabia', 'Mauritania', 'Sudan', 'Pakistan', 'Uganda',
       'Yemen', 'Madagascar', 'India', 'Afghanistan', 'United Kingdom',
       'Ghana', 'Cayman Islands', 'Cameroon', 'Italy', 'Somalia', 'Niger',
       'Morocco', 'Lebanon', 'Turkey', 'Bahrain', 'Nepal', 'Philippines',
       'Libya', 'Belgium', 'Ethiopia', 'Ukraine', 'Oman', 'Nigerian',
       'Chad', 'Namibia', 'Jordan', 'Kyrgyzstan', 'Burkina Faso',
       'Tunisia', 'Palestine', 'Iran', 'Iraq', 'Uzbekistan', 'Malaysia',
       'China', 'Algeria', 'Kenya', 'Eritrea', 'Mali', 'Ireland',
       'Canada', 'South Africa', 'Honduras', 'Malta', 'Albania',
       'United Arab Emirates', 'Romania', 'France', 'Kuwait',
       'Mozambique', 'Thailand', 'Spain', 'Germany', 'Cote De Voire',
       'Brunei', 'Singapore', 'Tajikistan', 'Laos', 'Anguilla', 'Denmark',
       'Bosnia and Herzegovina', 'Burundi', 'Malawi', 'Antigua',
       'Australia', 'Guinea', 'Vietnam', 'Sierra Leone', 'Qatar',
       'Armenia', 'Andorra', 'Togo', 'Cuba', 'Serbia', 'Bhutan',
       'Tanzania', 'Senegal', 'Greece', 'Solvakian',
       'Netherlands Antilles islands', 'Poland', 'South Korea',
       'Central African Republic', 'Azerbaijan', 'Sweden', 'Mauritius',
       'Gambia', 'Djibouti', 'Japan', 'Madeira Islands', 'Aruba',
       'Barbados', 'Kazakhstan', 'Croatia', 'Austria', 'Finland',
       'French Guiana', 'Faroe Islands', 'Bermuda', 'Liberia',
       'Venezuela', 'New Zealand', 'Colombia', 'Cambodia', 'Portugal',
       'Taiwan', 'Benin', 'Belarus', 'Caledonia', 'Turkmenistan',
       'Comoros Islands', 'Brazil', 'Cook Islands', 'Czech Republic',
       'Norway', 'Chile', 'Bulgaria', 'Macedonia', 'Angola', 'Mexico',
       'Panama', 'Cyprus', 'Nicaragua', 'Zambia', 'Balearic Islands',
       'Estonia', 'Papua New Guinea', 'Jamaica', 'Coasta Rican',
       'Liechtenstein', 'Suriname', 'Marshall Islands', 'United Nations',
       'Rwanda', 'Switzerland', 'Burma (Myanmar)', 'Zimbabwe',
       'Trinidad and Tobago', 'Hong Kong', 'Monaco', 'Peru', 'Bahamas',
       'Hungary', 'Fiji', 'Russia', 'Wallis and Futuna', 'Georgia',
       'Botswana', 'Palau', 'Gabon', 'Guam', 'Belize',
       'British Virgin Islands', 'Argentina', 'Slovenia', 'Netherlands',
       'Grenada', 'Macau', 'Iceland', 'Bolivia', 'East Timor', 'Moldova',
       'Lithuania', 'North Korea', 'Dominica', 'Nauru', 'Lesotho',
       'Ecuador', 'Gibraltar', 'United States', 'Uruguay', 'Montenegro',
       'Maldives', 'Diego Garcia', 'British Guyana', 'Cape Verde',
       'Luxembourg', 'Equatorial Guinea', 'Canary Islands', 'Haiti',
       'Puerto Rico', 'Dominican Republic', 'Samoa', 'Saint Helena',
       'Tahiti', 'Mongolia', 'Niue Islands', 'Saint Kitts and Nevis'],
      dtype=object)

In [22]:
# drop irrelevant data in NATIONALITY_NAME column 
stc_d.drop(stc_d[(stc_d['NATIONALITY_NAME']=='18-25') | (stc_d['NATIONALITY_NAME']== '<18  ') | (stc_d['NATIONALITY_NAME']== 'N') | (stc_d['NATIONALITY_NAME']== 'NA   ')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [23]:
stc_d['NATIONALITY_NAME'].unique()

array(['Sri Lanka', 'Bangladesh', 'Indonesia', 'Egypt', 'Syria',
       'Saudi Arabia', 'Mauritania', 'Sudan', 'Pakistan', 'Uganda',
       'Yemen', 'Madagascar', 'India', 'Afghanistan', 'United Kingdom',
       'Ghana', 'Cayman Islands', 'Cameroon', 'Italy', 'Somalia', 'Niger',
       'Morocco', 'Lebanon', 'Turkey', 'Bahrain', 'Nepal', 'Philippines',
       'Libya', 'Belgium', 'Ethiopia', 'Ukraine', 'Oman', 'Nigerian',
       'Chad', 'Namibia', 'Jordan', 'Kyrgyzstan', 'Burkina Faso',
       'Tunisia', 'Palestine', 'Iran', 'Iraq', 'Uzbekistan', 'Malaysia',
       'China', 'Algeria', 'Kenya', 'Eritrea', 'Mali', 'Ireland',
       'Canada', 'South Africa', 'Honduras', 'Malta', 'Albania',
       'United Arab Emirates', 'Romania', 'France', 'Kuwait',
       'Mozambique', 'Thailand', 'Spain', 'Germany', 'Cote De Voire',
       'Brunei', 'Singapore', 'Tajikistan', 'Laos', 'Anguilla', 'Denmark',
       'Bosnia and Herzegovina', 'Burundi', 'Malawi', 'Antigua',
       'Australia', 'Guinea', 'Vietnam', 'Sierra Leone', 'Qatar',
       'Armenia', 'Andorra', 'Togo', 'Cuba', 'Serbia', 'Bhutan',
       'Tanzania', 'Senegal', 'Greece', 'Solvakian',
       'Netherlands Antilles islands', 'Poland', 'South Korea',
       'Central African Republic', 'Azerbaijan', 'Sweden', 'Mauritius',
       'Gambia', 'Djibouti', 'Japan', 'Madeira Islands', 'Aruba',
       'Barbados', 'Kazakhstan', 'Croatia', 'Austria', 'Finland',
       'French Guiana', 'Faroe Islands', 'Bermuda', 'Liberia',
       'Venezuela', 'New Zealand', 'Colombia', 'Cambodia', 'Portugal',
       'Taiwan', 'Benin', 'Belarus', 'Caledonia', 'Turkmenistan',
       'Comoros Islands', 'Brazil', 'Cook Islands', 'Czech Republic',
       'Norway', 'Chile', 'Bulgaria', 'Macedonia', 'Angola', 'Mexico',
       'Panama', 'Cyprus', 'Nicaragua', 'Zambia', 'Balearic Islands',
       'Estonia', 'Papua New Guinea', 'Jamaica', 'Coasta Rican',
       'Liechtenstein', 'Suriname', 'Marshall Islands', 'United Nations',
       'Rwanda', 'Switzerland', 'Burma (Myanmar)', 'Zimbabwe',
       'Trinidad and Tobago', 'Hong Kong', 'Monaco', 'Peru', 'Bahamas',
       'Hungary', 'Fiji', 'Russia', 'Wallis and Futuna', 'Georgia',
       'Botswana', 'Palau', 'Gabon', 'Guam', 'Belize',
       'British Virgin Islands', 'Argentina', 'Slovenia', 'Netherlands',
       'Grenada', 'Macau', 'Iceland', 'Bolivia', 'East Timor', 'Moldova',
       'Lithuania', 'North Korea', 'Dominica', 'Nauru', 'Lesotho',
       'Ecuador', 'Gibraltar', 'United States', 'Uruguay', 'Montenegro',
       'Maldives', 'Diego Garcia', 'British Guyana', 'Cape Verde',
       'Luxembourg', 'Equatorial Guinea', 'Canary Islands', 'Haiti',
       'Puerto Rico', 'Dominican Republic', 'Samoa', 'Saint Helena',
       'Tahiti', 'Mongolia', 'Niue Islands', 'Saint Kitts and Nevis'],
      dtype=object)

In [24]:
stc_d['SAUDI_NON_SAUDI'].unique()

array(['Non-Saudi', 'Saudi'], dtype=object)

In [25]:
# drop irrelevant data in SAUDI_NON_SAUDI column 
stc_d.drop(stc_d[(stc_d['SAUDI_NON_SAUDI']=='Male') | (stc_d['SAUDI_NON_SAUDI']== 'Female') | (stc_d['SAUDI_NON_SAUDI']== 'N')].index, axis=0,inplace=True)
stc_d

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,1/31/2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,12/31/2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,4/30/2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,8/31/2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,6/30/2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048568,3/31/2019,E4,QMobile E4,QMobile,QMobile,Proprietary,Mobile Phone,Y,N,N,N,Y,N,Y,Male,>55,SDN,Sudan,Non-Saudi,2
1048569,1/31/2019,F3,Oppo F3,Oppo,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,36-55,DZA,Algeria,Non-Saudi,1
1048572,5/31/2019,X2-00,Nokia X2-00,Nokia,Nokia,Proprietary,Mobile Phone,Y,N,N,N,Y,N,N,Male,36-55,SYR,Syria,Non-Saudi,16
1048573,7/31/2019,Desire 626 NFC Dual Sim,HTC Desire 626 NFC Dual Sim,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,>55,BGD,Bangladesh,Non-Saudi,7
1048574,6/30/2020,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,>55,SAU,Saudi Arabia,Saudi,53

In [26]:
stc_d['SAUDI_NON_SAUDI'].unique()

array(['Non-Saudi', 'Saudi'], dtype=object)

In [27]:
stc_d['DEVICE_COUNT'].unique()

array(['9', '2', '1', ..., '32685', '602', '12023'], dtype=object)

In [28]:
stc_d["CAL_DT"]=pd.to_datetime(stc_d["CAL_DT"]).dt.strftime('%Y')

In [29]:
stc_d.head()

,CAL_DT,MODEL_NAME,BRAND_FULL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,DUAL_SIM_FLG,GENDER_TYPE_CD,AGE_B,NATIONALITY_CD,NATIONALITY_NAME,SAUDI_NON_SAUDI,DEVICE_COUNT
0,2019,One x9,HTC One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Male,36-55,LKA,Sri Lanka,Non-Saudi,9
3,2019,C7-00,Nokia C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,Y,Y,N,Male,18-25,BGD,Bangladesh,Non-Saudi,2
5,2020,Blade V7 Lite,ZTE Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,Y,Female,>55,IDN,Indonesia,Non-Saudi,1
6,2019,i6 Metal ONE,QMobile i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,Y,Y,Y,Male,36-55,EGY,Egypt,Non-Saudi,1
8,2019,One M9,HTC One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,Y,Y,N,Male,26-35,SYR,Syria,Non-Saudi,21

### Drop Unuseful columns

In [30]:
# Drop BRAND_FULL_NAME column
stc_d.drop(columns="BRAND_FULL_NAME",axis=1,inplace=True)

In [31]:
# Drop NATIONALITY_CD column
stc_d.drop(columns="NATIONALITY_CD",axis=1,inplace=True)

### Change Datatype

In [32]:
# change the datatype of CAL_DT column to date datatype
stc_d["CAL_DT"]=pd.to_datetime(stc_d["CAL_DT"])

In [33]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            714023 non-null  datetime64[ns]
 1   MODEL_NAME        714023 non-null  object
 2   BRAND_NAME        714023 non-null  object
 3   VENDOR_NAME       714023 non-null  object
 4   OS_NAME           714023 non-null  object
 5   DEVICE_TYPE       714023 non-null  object
 6   _2G_FLG           714023 non-null  object
 7   _3G_FLG           714023 non-null  object
 8   _4G_FLG           714023 non-null  object
 9   WIFI_FLG          714023 non-null  object
 10  BLUETOOTH_FLG     714023 non-null  object
 11  TOUCH_SCREEN_FLG  714023 non-null  object
 12  DUAL_SIM_FLG      714023 non-null  object
 13  GENDER_TYPE_CD    714023 non-null  object
 14  AGE_B             714023 non-null  object
 15  NATIONALITY_NAME  714023 non-null  object
 16  SAUDI_NON_SAUDI   714023 non-null  object
 17  DEVICE_COUNT      714023 non-null  object
dtypes: datetime64[ns](1), object(17)
memory usage: 119.6+ MB

In [34]:
# change the datatype of DEVICE_COUNT column to int datatype
stc_d["DEVICE_COUNT"]=stc_d["DEVICE_COUNT"].astype(str).astype(int)

In [35]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            714023 non-null  datetime64[ns]
 1   MODEL_NAME        714023 non-null  object
 2   BRAND_NAME        714023 non-null  object
 3   VENDOR_NAME       714023 non-null  object
 4   OS_NAME           714023 non-null  object
 5   DEVICE_TYPE       714023 non-null  object
 6   _2G_FLG           714023 non-null  object
 7   _3G_FLG           714023 non-null  object
 8   _4G_FLG           714023 non-null  object
 9   WIFI_FLG          714023 non-null  object
 10  BLUETOOTH_FLG     714023 non-null  object
 11  TOUCH_SCREEN_FLG  714023 non-null  object
 12  DUAL_SIM_FLG      714023 non-null  object
 13  GENDER_TYPE_CD    714023 non-null  object
 14  AGE_B             714023 non-null  object
 15  NATIONALITY_NAME  714023 non-null  object
 16  SAUDI_NON_SAUDI   714023 non-null  object
 17  DEVICE_COUNT      714023 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(16)
memory usage: 116.9+ MB

### Label Encoder

In [36]:
le = preprocessing.LabelEncoder()
stc_d["2G_FLG"]=le.fit_transform(stc_d["_2G_FLG"])
stc_d["3G_FLG"]=le.fit_transform(stc_d["_3G_FLG"])
stc_d["4G_FLG"]=le.fit_transform(stc_d["_4G_FLG"])
stc_d["WIFI"]=le.fit_transform(stc_d["WIFI_FLG"])
stc_d["BLUETOOTH"]=le.fit_transform(stc_d["BLUETOOTH_FLG"])
stc_d["TOUCH_SCREEN"]=le.fit_transform(stc_d["TOUCH_SCREEN_FLG"])
stc_d["DUAL_SIM"]=le.fit_transform(stc_d["DUAL_SIM_FLG"])
stc_d["GENDER"]=le.fit_transform(stc_d["GENDER_TYPE_CD"])
stc_d["MODEL"]=le.fit_transform(stc_d["MODEL_NAME"])
stc_d["BRAND"]=le.fit_transform(stc_d["BRAND_NAME"])
stc_d["VENDOR"]=le.fit_transform(stc_d["VENDOR_NAME"])
stc_d["OS"]=le.fit_transform(stc_d["OS_NAME"])
stc_d["DEVICE"]=le.fit_transform(stc_d["DEVICE_TYPE"])
stc_d["AGE"]=le.fit_transform(stc_d["AGE_B"])
stc_d["NATIONALITY"]=le.fit_transform(stc_d["NATIONALITY_NAME"])
stc_d["SAUDI"]=le.fit_transform(stc_d["SAUDI_NON_SAUDI"])

In [37]:
stc_d.head()

,CAL_DT,MODEL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_2G_FLG,_3G_FLG,_4G_FLG,WIFI_FLG,...,DUAL_SIM,GENDER,MODEL,BRAND,VENDOR,OS,DEVICE,AGE,NATIONALITY,SAUDI
0,2019-01-01,One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,1,1,510,68,40,0,1,2,168,0
3,2019-01-01,C7-00,Nokia,Nokia,Symbian,Smartphone,Y,Y,N,Y,...,0,1,244,118,68,5,1,0,16,0
5,2020-01-01,Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,...,1,0,231,186,40,0,1,4,88,0
6,2019-01-01,i6 Metal ONE,QMobile,Google,Android,Smartphone,Y,Y,N,Y,...,1,1,794,133,40,0,1,2,62,0
8,2019-01-01,One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,0,1,488,68,40,0,1,1,173,0

In [39]:
stc_d.drop(columns="_3G_FLG",axis=1,inplace=True)
stc_d.drop(columns="_2G_FLG",axis=1,inplace=True)
stc_d.drop(columns="_4G_FLG",axis=1,inplace=True)
stc_d.drop(columns="WIFI_FLG",axis=1,inplace=True)
stc_d.drop(columns="MODEL_NAME",axis=1,inplace=True)
stc_d.drop(columns="OS_NAME",axis=1,inplace=True)
stc_d.drop(columns="VENDOR_NAME",axis=1,inplace=True)
stc_d.drop(columns="BRAND_NAME",axis=1,inplace=True)
stc_d.drop(columns="DEVICE_TYPE",axis=1,inplace=True)
stc_d.drop(columns="SAUDI_NON_SAUDI",axis=1,inplace=True)
stc_d.drop(columns="NATIONALITY_NAME",axis=1,inplace=True)
stc_d.drop(columns="AGE_B",axis=1,inplace=True)
stc_d.drop(columns="GENDER_TYPE_CD",axis=1,inplace=True)
stc_d.drop(columns="DUAL_SIM_FLG",axis=1,inplace=True)
stc_d.drop(columns="TOUCH_SCREEN_FLG",axis=1,inplace=True)
stc_d.drop(columns="BLUETOOTH_FLG",axis=1,inplace=True)

KeyError: "['_3G_FLG'] not found in axis"

In [40]:
stc_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714023 entries, 0 to 1048574
Data columns (total 32 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CAL_DT            714023 non-null  datetime64[ns]
 1   MODEL_NAME        714023 non-null  object
 2   BRAND_NAME        714023 non-null  object
 3   VENDOR_NAME       714023 non-null  object
 4   OS_NAME           714023 non-null  object
 5   DEVICE_TYPE       714023 non-null  object
 6   _4G_FLG           714023 non-null  object
 7   WIFI_FLG          714023 non-null  object
 8   BLUETOOTH_FLG     714023 non-null  object
 9   TOUCH_SCREEN_FLG  714023 non-null  object
 10  DUAL_SIM_FLG      714023 non-null  object
 11  GENDER_TYPE_CD    714023 non-null  object
 12  AGE_B             714023 non-null  object
 13  NATIONALITY_NAME  714023 non-null  object
 14  SAUDI_NON_SAUDI   714023 non-null  object
 15  DEVICE_COUNT      714023 non-null  int32
 16  2G_FLG            714023 non-null  int32
 17  3G_FLG            714023 non-null  int32
 18  4G_FLG            714023 non-null  int32
 19  WIFI              714023 non-null  int32
 20  BLUETOOTH         714023 non-null  int32
 21  TOUCH_SCREEN      714023 non-null  int32
 22  DUAL_SIM          714023 non-null  int32
 23  GENDER            714023 non-null  int32
 24  MODEL             714023 non-null  int32
 25  BRAND             714023 non-null  int32
 26  VENDOR            714023 non-null  int32
 27  OS                714023 non-null  int32
 28  DEVICE            714023 non-null  int32
 29  AGE               714023 non-null  int32
 30  NATIONALITY       714023 non-null  int32
 31  SAUDI             714023 non-null  int32
dtypes: datetime64[ns](1), int32(17), object(14)
memory usage: 149.6+ MB

In [41]:
stc_d.head()

,CAL_DT,MODEL_NAME,BRAND_NAME,VENDOR_NAME,OS_NAME,DEVICE_TYPE,_4G_FLG,WIFI_FLG,BLUETOOTH_FLG,TOUCH_SCREEN_FLG,...,DUAL_SIM,GENDER,MODEL,BRAND,VENDOR,OS,DEVICE,AGE,NATIONALITY,SAUDI
0,2019-01-01,One x9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,1,1,510,68,40,0,1,2,168,0
3,2019-01-01,C7-00,Nokia,Nokia,Symbian,Smartphone,N,Y,Y,Y,...,0,1,244,118,68,5,1,0,16,0
5,2020-01-01,Blade V7 Lite,ZTE,Google,Android,Smartphone,Y,Y,Y,Y,...,1,0,231,186,40,0,1,4,88,0
6,2019-01-01,i6 Metal ONE,QMobile,Google,Android,Smartphone,N,Y,Y,Y,...,1,1,794,133,40,0,1,2,62,0
8,2019-01-01,One M9,HTC,Google,Android,Smartphone,Y,Y,Y,Y,...,0,1,488,68,40,0,1,1,173,0

In [42]:
PERFORMANCE=pd.cut(stc_d["DEVICE_COUNT"],bins=[0,10,50,100,500,1000,5000,10000,15000],
                   labels=['Extremely poor','Poor','Below average','Acceptable','Good','Very good','Excellent','Exceptional'])

stc_d['PERFORMANCE'] = PERFORMANCE

In [45]:
np.savetxt(r'C:/Users/DELL/OneDrive/Desktop/Lina/Big data & AI bootcamp/stcPerformance.txt', stc_d.PERFORMANCE, fmt='%s')